@import './config//mixins';

.header {
 min-height: 125px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 z-index: 0;

 @include tablet {
  margin: 0px 25px;
}

@include desktop-large {
  margin: 0px 25px;
}
}

a {
  align-self: center;
  .logo {
    width: 42px;
    height: 42px;
  }
}


.menu {
  float: right;
  pointer-events: all;
}