@import './config//mixins';

.container {
  height: 100%;
  margin: 0px 100px;
  display: flex;
  flex: 1;
  flex-direction: column;

  @include tablet {
    margin: 0px 50px;
  }

  @include desktop-large {
    margin: 0px 100px;
  }
}

.titleWrapper {
  max-width: 800px;
  margin: 40px 0px 0px 0px;
}



.projectRow{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.footer {
  width: 100%;
  position: relative;
  margin-top: 50px;
  height: 300px;
  background-color: #1c1c1c;
}
