@import './config//mixins';

.root {
  display: flex;
  justify-content: center;
  
}

.container {
  max-width: 1280px;
  width: 100vw;
  height: 100%;
  margin: 0px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  
  @include tablet {
    margin: 0px 50px;
  }

  @include desktop-large {
    margin: 0px 50px;
  }
}

.titleWrapper {
  max-width: 800px;
  margin: 40px 0px 0px 0px;
}



.projectRow{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.footer {
  position: relative;
  width: 99.225vw;
  margin-left: -49.59vw;
  left: 50%;
  margin-top: 50px;
  height: 300px;
  background-color: #1c1c1c;
}
