@import '../config//mixins';

.ProjectContainer {
  margin: 25px 0px;
  width: 100%;

  @include tablet {
    margin: 25px;
  }

  @include desktop-large {
    margin: 25px;
  }
}

.imageWrapper {
  height: 300px;
  background-color: #80AED0;
}

.contentWrapper {
  max-width: 500px
}
